.App {
  /* height: 100%;
  width: 100%; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3% 97%;
}

a:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

a:active {
  color: blue;
}

.drawer
{
  display: flex;
  flex-direction: column;
}

.navbar
{
  background-color: pink;
}

.innerdiv
{
  display: grid;
  grid-template-columns: 36% 63%;
}

.filterdiv
{
  background-color: red;
}

.candidatediv
{
  background-color: chocolate;
}

.maindiv{
  display: grid;
  grid-template-rows: 7% 93%;
}
