.App {
  /* height: 100%;
  width: 100%; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3% 97%;
}

a:hover {
  background-color: #e9efff;
}

img
{
  width: 50%;
  margin: 20%;
  padding: 10%;
}

.drawer
{
  display: flex;
  flex-direction: column;
  /* position: sticky; */
}

.navbar
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarimg
{
  margin: 20px 10px 0px 0px;
  padding: 2px;
  width: 5%;
  height: 30%;
  border-radius: 5px;
  background-color: white;
}

.innerdiv
{
  display: grid;
  grid-template-columns: 30% 70%;
}

.filterdiv
{
  margin: 5%;
}

.row
{
  display: flex;
  flex-direction: row;
}

summary div.row img
{
  width: 10%;
  height: 38%;
  margin: 17px 5px 5px 5px;
  padding: 0px;
}

.filter{
  display: flex;
  justify-content: space-between;
  background-color:white;
  width: 87%;
  margin-top: 3px;
}

.candidate
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details
{
  display: flex;
  flex-direction: column;
  width: 35%;
}

.detailchild
{
  margin: 2%;
}

.candidatediv
{
  background-color: white;
  border-radius: 20px;
  margin-right: 5%;
  /* overflow-y: auto; */
  /* height: 90%; */
}

input
{
  border-radius: 5px;
  border-color: #f3f3f3;
  /* margin: 3%; */
  width: 80%;
  height: 10px;
  padding: 3%;
}

.maindiv{
  display: grid;
  grid-template-rows: 12% 88%;
  background-color: #f8faff;
  padding-left: 1%;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}
